<?xml version="1.0"?>
<monthly><event><id>1</id><name>Servicio: Cusco-poroy   Bus:XSC-41
CLiente: Juan Eracleo Huamani Mendoza
Lugar de Origen:Hotel casa andina   Lugar de Destino: Aeropuerto
 Estado: SIN CONFIRMAR</name><startdate>2016-02-07</startdate><enddate>2016-02-07</enddate><starttime>12:00</starttime><endtime>17:00</endtime><color>#F76F6F</color></event><event><id>3</id><name>Servicio: Cusco-poroy   Bus:XSC-41
CLiente: Juan Eracleo Huamani Mendoza
Lugar de Origen:Hotel casa andina   Lugar de Destino: Aeropuerto
 Estado: SIN CONFIRMAR</name><startdate>2016-02-25</startdate><enddate>2016-02-25</enddate><starttime>15:00</starttime><endtime>20:00</endtime><color>#F7E16D</color></event><event><id>2</id><name>Servicio: Cusco-poroy   Bus:XSC-41
CLiente: Llika Inversiones
Lugar de Origen:hotel libertadoers   Lugar de Destino: Aeropuerto
 Estado: CONFIRMADO</name><startdate>2016-02-12</startdate><enddate>2016-02-12</enddate><starttime>11:00</starttime><endtime>16:00</endtime><color>#54FF00</color></event></monthly>
